In [26]:
import os 
import pandas as pd
import numpy as np 
import copy
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression


f_data='./data/'
f_train=os.path.join(f_data,'titanic_train.csv')
f_test=os.path.join(f_data,'titanic_test.csv')
train=pd.read_csv(f_train)
test=pd.read_csv(f_test)
train_Y = train['Survived']

train=train.drop(['Survived','PassengerId'],axis=1)
test=test.drop(['PassengerId'],axis=1)

df=pd.concat([train,test])
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [27]:
num_features=[]

for dtype,feature in zip(df.dtypes,df.columns):
    if dtype=='int64' or dtype=='float64':
        num_features.append(feature)
print(num_features)

['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

In [28]:
df=df[num_features]
train_num = train_Y.shape[0]
print(train_num)

891

In [29]:
df=df.fillna(-1))#將nan的值填入-1
train_X = m_df[:train_num]
estimator = LogisticRegression()
cross_val_score(estimator, train_X, train_Y, cv=5).mean()

0.6981761033723469

In [30]:
df=df.fillna(df.mean())#將nan的值填入平均值
train_X = m_df[:train_num]
estimator = LogisticRegression()#羅吉斯迴歸模型
cross_val_score(estimator, train_X, train_Y, cv=5).mean()

0.6981761033723469

In [31]:
df_temp = StandardScaler().fit_transform(df)#標準化後fit_transform
train_X = df_temp[:train_num]
estimator = LinearRegression()#線性轉換
cross_val_score(estimator, train_X, train_Y, cv=5).mean()

0.11619613893016803

In [32]:
df_temp = MinMaxScaler().fit_transform(df)#最大最小值化後fit_transform
train_X = df_temp[:train_num]
estimator = LinearRegression()
cross_val_score(estimator, train_X, train_Y, cv=5).mean()

0.11619613893016797